In [17]:
%pip install pymysql

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pymysql in /usr/local/lib/python3.10/dist-packages (1.0.3)

In [18]:
conn=pymysql.connect(
    host='127.0.0.1',
    user='root',
    password='twinklestar',
    db='covid'
)
cur=conn.cursor()
create_table_query='create table test12(id varchar20),name varchar(20)'
cur.execute(create_table_query)
conn.commit()
conn.close()

NameError: ignored

In [13]:
cnx = mysql.connector.connect(
    host="127.0.0.1",
    user="root",
    password="twinklestar",
    database="Covid"
)

DatabaseError: ignored